.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.justify-content-around {
    justify-content: space-around;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-end {
    justify-content: flex-end;
}
