@forward 'margins';
@forward 'text-sizes';
@forward 'colors';
@forward 'flex';
@forward 'widthHeight';
@forward 'text';
@use 'mixins' as *;
@use 'sass:map';

*,
*::after {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
}

.container {
    width: 100%;
    @include tablet() {
        max-width: #{map.get($screenSizes, 'tablet')};
    }

    @include desktop() {
        max-width: #{map.get($screenSizes, 'desktop')};
    }
}

.button-default {
    background-color: rgba(map.get($colors, 'white'), 0.15);
    border: 1px solid rgba(map.get($colors, 'white'), 0.3);
    color: #333;
    box-shadow: 0 4px 24px rgba(map.get($colors, 'black'), 0.15);
}

.button-default-animation {
    transition: all 0.25s ease;

    &:hover {
        transform: scale(1.05);
    }
}

.cursor-pointer {
    cursor: pointer;
}
